<div class="container">
    {{#each manchesterunited}}
    <div class="squad-list">
        <a href=""><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
        <p class="img-text">{{surname}}</p>
    </div>
    {{/each}}
</div>