body {
    background: url("/images/pitch.jpg");
    background-size: 100%;
    font-family: 'Bungee Inline', cursive;
    border-color: white;
    border-style: solid;
    border-width: 0.6em
}

.container {
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 2.5em;
    position: relative;
    flex-direction: row;
    text-align:center;
    align-items: center;
}
  
ul {
    list-style: none;
    padding: 0
}

.pitch-area {
    margin: auto;
    text-align:center;
    align-items: center;
    font-size: 0.5em
  }

#managers {
    float: left;
    margin: 1em;
}

#managers .img-text {
    color: goldenrod
}

div h2 {
    margin: 0;
    color: goldenrod
}

#managers .img-circle {
    border-color: goldenrod
}

.app {
display: flex;
flex-direction: column;
}

.player {
display: inline-block;
flex-direction: column;
align-items: center;
margin: 0.75em
}

.dog {
display: flex;
flex-direction: column;
align-items: center;
margin: 50px;
}

.img-circle {
border-radius: 100%;
object-fit: cover;
width: 100px;
height: 100px;
border-color: white;
border-width: 0.6em;
border-style: double;
animation-name: spin;
animation-duration: 1s
}

#player-profile .img-circle {
    width: 300px;
    height: 300px;
    border-width: 0.6em;
}

#player-profile.player {
    display: flex;
    flex-direction: row;
    margin: 0.75em;
    float: left;
    align-items: center;
    text-align: center;
}

#player-profile ul {
    display: inline-block;
    margin: 0.75em;
    text-align: left;
    float: right;
}

.profile-info {
    text-decoration: underline;
    font-style: italic;
    font-size: 0.8em;
}

.img-text {
color: white;
font-size: 1em;
margin: 0;
}

.title {
text-align: center;
font-size: 3em;
color: white;
margin: 0;
height: auto;
text-decoration: none
}

.nav {
text-align: center;
color: black;
}

.form {
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Roboto', sans-serif;
}

a:link
{
   color:white;
   text-decoration: none;
}
a:visited
{
   color:white;
   text-decoration: none;
}
a:hover
{
   color:white;
   text-decoration: none;
}
a:active
{
   color:white;
   text-decoration: none;
}

@keyframes spin{
    from{transform: scale(0) rotateZ(-90deg)}
    to{transform: scale(1) rotateZ(0deg)}
}