body {
    background: url("/images/pitch.jpg");
    background-size: 100%;
    font-family: 'Bungee Inline', cursive;
    border-color: white;
    border-style: solid;
    border-width: 0.6em;
}

.corners {
    display: flex;
    justify-content: space-between;
}

.top-left-corner{
    width: 50px;
    height: 50px;
    background: none;
    border-color: white;
    border-style: solid;
    border-width: 0.6em;
    border-radius: 0 0 50px 0;
    -moz-border-radius: 0 0 50px 0;
    -webkit-border-radius: 0 0 50px 0;
    border-top: none;
    border-left: none
}

.top-right-corner{
    width: 50px;
    height: 50px;
    border-color: white;
    border-style: solid;
    border-width: 0.6em;
    border-radius: 0 0 0 50px;
    -moz-border-radius: 0 0 0 50px;
    float: right;
    border-top: none;
    border-right: none
}

.bottom-left-corner{
    width: 50px;
    height: 50px;
    border-radius: 0 50px 0 0;
    -moz-border-radius: 0 50px 0 0;
    -webkit-border-radius: 0 50px 0 0;
    float: left;
    border-color: white;
    border-style: solid;
    border-width: 0.6em;
    border-bottom: none;
    border-left: none
}

.bottom-right-corner{
    width: 50px;
    height: 50px;
    border-radius: 50px 0 0 0;
    -moz-border-radius: 50px 0 0 0;
    -webkit-border-radius: 50px 0 0 0;
    float: right;
    border-color: white;
    border-style: solid;
    border-width: 0.6em;
    border-bottom: none;
    border-right: none
}

.container {
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 2.5em;
    position: relative;
    flex-direction: row;
    text-align:center;
    align-items: center;
}
  
ul {
    list-style: none;
    padding: 0
}

.pitch-area {
    margin: auto;
    text-align:center;
    align-items: center;
    font-size: 0.5em
  }

#managers {
    float: left;
    margin: 1em;
}

#managers .img-text {
    color: goldenrod
}

div h2 {
    margin: 0;
    color: goldenrod
}

#managers .img-circle {
    border-color: goldenrod
}

.app {
display: flex;
flex-direction: column;
}

.player {
display: inline-block;
flex-direction: column;
align-items: center;
margin: 0.75em;
animation-name: spin;
animation-duration: 1s;
animation-fill-mode: both
}

.dog {
display: flex;
flex-direction: column;
align-items: center;
margin: 50px;
}

.img-circle {
border-radius: 100%;
object-fit: cover;
width: 100px;
height: 100px;
border-color: white;
border-width: 0.6em;
border-style: double;
}

.player:nth-child(2) {
    animation-delay: 0.15s;
}

.player:nth-child(3) {
    animation-delay: 0.3s
}

.player:nth-child(4) {
    animation-delay: 0.45s;
}

.player .img-text {
    animation-name: fadein; 
    animation-delay: 1.2s;
    animation-duration: 1.25s;
    animation-fill-mode: both
}

#player-profile .img-circle {
    width: 300px;
    height: 300px;
    border-width: 0.6em;
}

#player-profile.player {
    display: flex;
    flex-direction: row;
    margin: 0.75em;
    float: left;
    align-items: center;
    text-align: center;
}

#player-profile ul {
    display: inline-block;
    margin: 0.75em;
    text-align: left;
    float: right;
}

#forwards {
    border-color: white;
    border-style: solid;
    border-width: 0.6em;
    border-top: none;
    border-left: none;
    border-right: none
}

.profile-info {
    text-decoration: underline;
    font-style: italic;
    font-size: 0.8em;
    animation-name: fadein; 
    animation-delay: 1.2s;
    animation-duration: 1.25s;
    animation-fill-mode: both
}

.profile-info-container {
    animation-name: fadein; 
    animation-delay: 1.7s;
    animation-duration: 1.25s;
    animation-fill-mode: both;
    text-align: left;
    float: right;
    margin: 50px
}

.img-text {
color: white;
font-size: 1em;
margin: 0;
}

.title {
text-align: center;
font-size: 3em;
color: white;
margin: 0;
height: auto;
text-decoration: none
}

.nav {
text-align: center;
color: black;
}

.form {
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Roboto', sans-serif;
}

a:link
{
   color:white;
   text-decoration: none;
}
a:visited
{
   color:white;
   text-decoration: none;
}
a:hover
{
   color:white;
   text-decoration: none;
}
a:active
{
   color:white;
   text-decoration: none;
}

@keyframes spin{
    from{transform: scale(0) rotateZ(-90deg)}
    to{transform: scale(1) rotateZ(0deg)}
}

@keyframes fadein{
    from{opacity: 0}
    to{opacity: 1}
}